.App {
  text-align: center;
  background-color: blue;
  background-image: linear-gradient(lightblue, blue);
  padding-bottom: 820px;
  display: flexbox;
}

input {
  padding: 10px;
  border-radius: 5px;
}
button {
  padding: 10px;
  border-radius: 5px;
}

ul {
  list-style: none;
}
