.App {
  text-align: center;
  background: #61dafb;
  list-style: none;
  font-size: 25px;
  margin-top: 200px;
  margin-bottom: 150px;
  margin-left: 380px;
  margin-right: 380px;
  width: auto;
  border-radius: 5px;
  flex: auto;
  padding-top: 10px;
  padding-bottom: 200px;
  padding-right: 10px;
  padding-left: 10px;
}
